@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&amp;display=swap');

body {
    font-family: 'Poppins', sans-serif;
      font-size: 1rem;
      color: #fff;
      background-color: #010101;
  }
  .home-div{
    text-align: center;
    margin: 0;
    padding: 0;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    align-self: flex-end;
    margin: 0 auto;

  }
  .text-home {
    font-size :5rem;
  }
  
  .title-degrad{
    font-family: 'Poppins', sans-serif;
    font-size: 5rem;
    font-weight: 700;
        background-image: linear-gradient(45deg,#7cc0e2,#256af3 50%,#252fff);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: bg 4s ease-out;
  }
  
  .para{
    width: 600px;
        opacity: 55% !important;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    margin-left: auto;
    margin-right: auto;
  }